body {
    font-family: Inter,sans-serif;
}

.logo img{
    max-width: 3%;
    top: 30px;
    left: 30px;
    position: absolute;
}

.title{
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    top: 25px;
    position: relative;
}

.title h1{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(51, 51, 51);
}

h2{
    font-size: 16px;
    color: #333333;
    text-align: center;
}

.principal {
    float: left;
    width: 100%;
    max-width: 1000px;
}

.registro-rrss {
    display: flex;
    top: 20px;
    position: relative;
    align-items: center;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

div.registro-rrss > div:nth-child(1) > button {
    background: white;
    border: none;
    font-size: 16px;
    top: -5px;
    position: relative;
    left: 27px;
}

div.registro-rrss > div:nth-child(2) > button {
    background: white;
    border: none;
    font-size: 16px;
    top: -9px;
    position: relative;
    left: 12px;
}

.buttom {
    border: 2px solid #333333;
    width: 100%;
    max-width: 228px;
    height: 40px;
    border-radius: 8px;
    margin: 20px 10px 20px;
}

.formulario {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background: rgb(245, 245, 255);
    padding: 30px 40px;
    border-radius: 8px;
}

form{
    color: #4d4d4d;
    font-family: Inter,sans-serif;
    font-size: 12px;
}

div.registro-rrss > div:nth-child(1) > span > img {
    max-width: 13%;
    margin: 4px 0px 0px 10px;
}

div.registro-rrss > div:nth-child(2) > span > img {
    max-width: 20%;
    margin: 4px;
}

body > main > div.principal > div:nth-child(5){
    text-align: center;
}

body > main > div.principal > div:nth-child(5) > p:nth-child(2){
    font-size: 12px;
}

.imagen-derecha {
    width: 100%;
    max-width: 413px;
    height: 922px;
    background-color: rgb(54, 53, 101);
    background-image: url("https://static.isu.pub/fe/product-signup-frontend/544/4801b36568eb2fa4eb57.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    margin: -16px -5px;
}

.pie-de-pagina {
    width: 100%;
    background-color: white;
    margin-top: 829px;
    position: absolute;
    box-shadow: 0px -17px 32px -25px rgba(0,0,0,0.28);
    padding: 22px;
}